/build
/modules
/tmp
/precompiled
/test-result
/logs
/eclipse
/data
.*\.log$
\.classpath$
\.project$
.*\.pyc$
.*\.orig$
.*\.swp$
.~lock
server.pid
\.settings
/tmp
/modules
/lib
/test-result
/logs
/eclipse
.classpath
.project
hs_err_pid*
.classpath
.project
phantomjsdriver.log
axis.log
*.swp
/.metadata/
.*\.~lock.*
